<p id="notice"><%= notice %></p>

<div id="error_message" style="color: :red;"></div>
  <% if @fuel_efficiency.errors.any? %>
    <h2> An error has occurred:</h2>
    <ul>
      <% @fuel_efficiency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1>New Fuel Efficiency</h1>
      <%= form_for(@fuel_efficiency) do |f| %>
        