<p id="notice"><%= notice %>

<div id="error_message" style="color: red;"></div>
  <% if @car.errors.any? %>
    <h2>An error has occurred:</h2>
      <ul>
        <% @car.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Editing Car</h1>
      <%= render 'public/cars/form', car: @car%>
    </div>
  </div>
</div>