<div class="flash-notice">
  <%= flash[:notice] %>
</div>

<p id="notice"></p>
<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1 class="px-6 mx-auto">
          <i class="fas fa-car"></i>
          <strong>Car Maintenance Logs</strong>
          <i class="fas fa-car"></i>
          <br>
          Topページ
        </h1>
        <br>
        <br>
        <p>ここでは他ユーザー様と整備の作業の手順、<br>工具のおすすめ等様々な投稿をしていただき、<br>整備初心者や学生が安心して作業できるようにする目的があります。</p>
        <br>
        <p>その他には、点検時期を見逃さないように、<br>次回点検時期を設定しご登録メールアドレスに通知するものもございます。</p>
        <br>
        <p>整備工場での作業料金や金額等も投稿時に入力していただくことで,<br>参考にすることができます。</p>


        <div class="btn-wrapper col-10 mx-auto">
          <div class="row">
            <a class="btn btn-info btn-sm btn-block mb-3 " href="/maintenances/new">新規投稿</a>
          </div>
          <div class="row">
            <a class="btn btn-info btn-sm btn-block mb-3 " href="/maintenances">投稿一覧</a>
          </div>
          <div class="row">
            <a class="btn btn-info btn-sm btn-block mb-3 " href="/fuel_efficiency/new">燃費情報</a>
          </div>
        <div>
      </div>
    </div>
  </div>
</main>