<p id="notice"><%= notice %></p>

<div id="error_message" style=color:"red"></div>
  <% if @fuel_efficiency.errors.any? %>
    <h2>エラーが発生しました:</h2>
    <ul>
      <% @fuel_efficiency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1>Editing Fuel Efficiency</h1>
      <%= render 'public/fuel_efficiencies/form', fuel_efficiency: @fuel_efficiency %>
    </div>
  </div>
</div>