<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'maintenance' %>
	<h3>Maintenances search for "<%= @content %>"</h3>
  <%= render 'maintenances/index', maintenances: @records %>
<% end %>