<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1>All Users List</h1>
      <table class="table table-honer table-inverse">
        <thead>
          <tr>
            <th>ユーザーネーム</th>
            <th>ユーザーメールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %> 
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>